name: Linux

on:
  push:
    branches: [ linux_workflow_test ]
  pull_request:
    branches: [ linux_workflow_test ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Bobcat repository
      uses: actions/checkout@v3
      with:
        path: Bobcat

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          git build-essential clang pkg-config \
          libgtk-3-dev libnotify-dev openssl libfreetype6-dev \
          libx11-dev libxinerama-dev libxrender-dev libxft-dev \
          libxdmcp-dev libfontconfig1-dev libxcb1-dev libxext-dev \
          libgdk-pixbuf2.0-dev zlib1g-dev libharfbuzz-dev libpango1.0-dev \
          libatk1.0-dev libcairo2-dev libglib2.0-dev libpng-dev
 
    - name: Checkout U++ repository
      uses: actions/checkout@v4
      with:
        repository: ultimatepp/ultimatepp
        ref: tag/2025.1 # always use release branch, not main.
        path: upp-source

    - name: Configure and build U++ from the master branch
      working-directory: upp-source
      run: |
        ./configure
        make -f ./umkMakefile -j 4

    - name: Build Bobcat
      working-directory: Bobcat
      run: ../upp-source/umk ./,../upp-source/uppsrc Bobcat CLANG.bm -brh +GUI,SHARED Bobcat
