name: MacOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout Bobcat repository
      uses: actions/checkout@v3
      with:
        path: Bobcat

    - name: Install dependencies
      run: brew update  

    - name: Checkout U++ repository
      uses: actions/checkout@v4
      with:
        repository: ultimatepp/ultimatepp
        ref: v2025.1.1 # always use release branch, not main.
        path: upp-source

    - name: Configure and build U++ from the master branch
      working-directory: upp-source
      run: |
        ./configure
        make -f ./umkMakefile -j 4

    - name: Build Bobcat
      working-directory: Bobcat
      run: ../upp-source/umk ./,../upp-source/uppsrc Bobcat CLANG.bm -brh +GUI,SHARED build/Bobcat
